<div class="max-w-7xl mx-auto my-auto flex flex-col justify-center gap-y-5">
  <div class="rounded-md shadow-md p-8">
    <h3 class="text-xl font-semibold">HTML Quiz</h3>
    <p>Question {{ number }} of {{ total }}</p>
  </div>
  <form class="flex flex-col justify-start rounded-md shadow-md p-8 gap-3">
    <!-- <form (ngSubmit)="onSubmit()" class="flex flex-col justify-start rounded-md shadow-md p-8 gap-3"> -->
    <div class="flex flex-col gap-2">
      <p class="text-2xl font-semibold">{{ question }}</p>
      <div *ngFor="let option of options">
        <input
          [formControl]="answer"
          type="radio"
          id="option"
          name="option"
          [value]="option.label"
        />
        <label for="option" class="ml-2 text-xl">{{ option.label }}</label>
      </div>
    </div>
    <button
      type="button"
      *ngIf="!end"
      (click)="onNext()"
      class="bg-[#595BD4] hover:bg-[#4b4dc1] self-end px-2 py-1 text-white text-lg font-medium rounded-md shadow-md"
    >
      Next
    </button>
    <button
      (click)="onSubmit()"
      *ngIf="end"
      type="button"
      class="bg-[#595BD4] hover:bg-[#4b4dc1] self-end px-2 py-1 text-white text-lg font-medium rounded-md shadow-md"
    >
      Submit
    </button>
    <!-- <button
      *ngIf="end"
      type="submit"
      class="bg-[#595BD4] hover:bg-[#4b4dc1] self-end px-2 py-1 text-white text-lg font-medium rounded-md shadow-md"
    >Submit</button> -->
  </form>
</div>
